<div class="content-wrapper">
    <div class="panelOne">
        <div class="navbarOne">
            <div>
                <h2>Digite a cidade</h2>
            </div>
            <input id="cityInput" type="select"><br>
        </div>
        <div class="cityInfo">
            <h2 class="city-name">São Francisco, EUA</h2> <!-- Nome, pela API -->
            <sub class="city-weather">Céu Limpo</sub> <!-- Clima, pela API -->
        </div>
        <div class="cityTemp">
            <div>
                <h1 class="city-temp">23°C</h1> <!-- Temperatura, pela API -->
            </div>
            <div>
                <img id="weather-icon" src="http://openweathermap.org/img/wn/01d@2x.png"></img>
            </div>
        </div>
        <div class="cityHumidity">
            <div>
                <p class="city-humidity">48%</p> <!-- Umidade, pela API -->
            </div>
            <div>
                <img src="https://image.flaticon.com/icons/svg/727/727790.svg" style="width: 15%"></img> <!-- Ícone do clima, pela API -->
            </div>
        </div>
    </div>

    <div class="panelTwo">
        <div class="navbarTwo">
            <div>
                <h2>Top 5 cidades mais pesquisadas</h2>
            </div>
            <div class="topFive">
                <div class="topItem">Cidade 1</div>
                <div class="topItem">Cidade 2</div>
                <div class="topItem">Cidade 3</div>
                <div class="topItem">Cidade 4</div>
                <div class="topItem">Cidade 5</div>
            </div>
        </div>
        <div class="line"> </div>
        <div class="line"> </div>

        <ul id="cityHistory">
            <li></li>
        </ul>

    </div>

    <div class="line"> </div>
    <div class="line"> </div>
    
    <div>
        <br />
        <h2>Informações do banco de dados:</h2>
        {{#each buscas}}
            <h3>{{cidade}}, {{temperatura}}°C, {{clima}}, {{updatedAt}} </h3>
        {{/each}}
    </div>

    <div>
        <p>
            <span id="dtText"></span>
        </p>
    </div>
</div>